body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper > * {
  padding: .5em 1.3em;
}

.nav {
  order: -1;
}

.nav,
.posts {
}

@media (min-width: 860px) {
  .wrapper {
    flex-direction: row;
    flex: 1;
  }
  .content {
    flex: 1;
  }
  .nav {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
  .posts {
    flex: 0 0 20em;
  }
}

a {
  color: gray;
}
p {
  padding: .6em 0;
}

header{
  padding: .3em 1.3em;
}
